* {margin: 0px;
  box-sizing: border-box;
  padding: 0px;
 }

body {
 background-color: rgb(16, 16, 97);
}

.flex {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 gap: 1rem;
 margin: 2rem;
}

.App {
  color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}


